<div class="row-fluid">
	<div class="span12">
		<h2>Flashcards &raquo;{{carddeck.title}}&laquo;</h2>
	</div>
</div>
<div class="row-fluid" ng-controller="CardDeckDetailController">
	<div class="span8">
		<div class="progress">
			<div class="bar bar-success" ng-style="percentageCompletedStyle">
				<span ng-show="percentageCompleted > 0">{{percentageCompleted | number:0}}%</span>
			</div>
		</div>
	
		<div class="post">
			<div class="alert alert-info question">
				<h3>Question</h3>
				<h4>{{card.question}}</h4>
			</div>
			<div class="alert alert-success answer">
				<h3>Answer</h3>
				<h4 ng-hide="answerShown">?</h4>
				<h4 ng-show="answerShown">{{card.answer}}</h4>
			</div>
		</div>
	</div>
	<div class="span4" id="sidebar">
		<div id="carddeck-navigation row-fluid">
			<button ng-click="getPreviousCard()" ng-disabled="currentCardArrayIndex <= 0" class="btn span6 margin-bottom">
				<i class="icon-chevron-left"></i> Back
			</button>
			<button ng-hide="answerShown" ng-click="showAnswer()" class="btn btn-primary span6 margin-bottom">
				<i class="icon-eye-open icon-white"></i> Show answer	
			</button>
			<button ng-show="answerShown" ng-click="getNextCard()" ng-disabled="currentCardArrayIndex >= cards.length - 1" class="btn btn-primary span6 margin-bottom">
				<i class="icon-chevron-right icon-white"></i> More
			</button>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<h4>Current index</h4>
				<p>{{carddeck.numberOfCards}} Cards</span></p>
			</div>
		</div>
	</div >
</div>