<div id="content">

	<h2>Left</h2>

	<p>
		Here you can find useful links to the topics <em> AngularJS </em>, <em> REST / JAX-RS </em> and <em> Twitter Bootstrap </em>
	</p>

	<h3>AngularJS</h3>

	<ul>
		<li><a href="http://angularjs.org/" target="_blank"> Official Site </a></li>
	</ul>

	<h3>REST / JAX-RS</h3>

	<ul>
		<li><a href="https://jersey.java.net/" target="_blank"> Jersey, reference implementation of JAX-RS </a></li>
	</ul>

	<h3>Twitter Bootstrap</h3>

	<ul>
		<li><a href="http://twitter.github.io/bootstrap/" target="_blank"> Official Site </a></li>
	</ul>

</div>