*/target/**
.settings/
/target/
compiled-js/
WEB-INF/classes/
dragome-todomvc/src/main/webapp/dragome/
*/db/**
bin/
.metadata
.project
.externalToolBuilders/
.launch
.classpath
.factorypath
*.jar
*.timestamp

