<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="Flashcards">

        <!-- H2 DB for DEVELOPMENT environment -->
<!--
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.url">jdbc:h2:tcp://localhost/~/flashcards</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
-->

        <!-- MYSQL for PRODUCTION environment -->

        <!--<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>-->
		<!--<property name="hibernate.connection.password">root</property>-->
		<!--<property name="hibernate.connection.url">jdbc:mysql://localhost/Flashcard</property>-->
		<!--<property name="hibernate.connection.username">root</property>-->
		<!--<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>-->
    
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:file:db/flashcards-db</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
    

		<property name="hibernate.hbm2ddl.auto">update</property>

		<mapping class="ch.flashcard.persistence.CardEntity" />
		<mapping class="ch.flashcard.persistence.CardDeckEntity" />
	</session-factory>
</hibernate-configuration>
